/****************************************************************/
/*                    the project                               */
/****************************************************************/
:root{
    --larg_font : 2.5rem;
    --medium_font : 1.8rem;
    --small_font  : 1.3rem;
}

body,*{
    box-sizing: border-box;
    line-height: 2.5rem;
}
li,button{
    cursor: pointer;
}
li{
    font-size: 1.3rem;
}
/********************************************/
/*                    the header            */
/********************************************/
.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    color: #fff;
    font-weight: 900;
    min-height: 50px;
}
.header > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background{
    background: #000;
}
.header_container{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
.header_container .logo{
    flex: 1;
    background: transparent;
    max-width: 150px;
    min-height: 50px;
    padding-left: 20px;
}
.header_container .logo img{
    width: 100%;
    height: 100%;
}
.header_container .top-list{
    flex: 1;
    max-width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 70px;
}
.top-list.delete{
    display: none;
}
.top-list ul{
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
.menu {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    font-family:"Font Awesome 5 Free";
}
/********************************************/
/*                    aside                 */
/********************************************/
.aside{
    position: fixed;
    top: 0;
    right: 0;
    background: #333;
    width: 40%;
    min-width: 150px;
    height: 100vh;
    z-index: 15;
    opacity: 0;
    transform: scale3d(0,1,1);
    transition-delay: 1.5s;
    transition: transform .2s , opacity 1.2s;
    transform-origin: top right;
    background: #000;
}
aside ul{
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}
.aside ul li {
    width: 100%;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
.aside ul li a{
    color: #fff;
    text-decoration: none;
    transition: color .2s cubic-bezier(0.25,1,0.25,1);
}
.aside ul li a:hover{
    color: gray;
}
/********************************************/
/*                    section               */
/********************************************/
.container{
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}
.container .background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .background-Rocket {
    background-image: url("../images/Rocket.webp");
}
.container .background-shuttle {
    background-image: url("../images/shuttle.webp");
    background-position: 65% center;
}
.container .background-fire {
    background-image: url("../images/fire.webp");
}
.container .background-moon {
    background-image: url("../images/moon.webp");
    background-position: 65% center;
}
.container .background-arrived img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right bottom;
}

.container .background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.container .logo{
    position: absolute;
    top: 0;
    left: 46%;
    transform: translateX(-46%);
    z-index: 1;
    color: #fff;
    font-size: calc(2rem + 2ch);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}
.container .drop_menu{
    position: absolute;
    top: 0;
    left: 10px;
}
/********************************************************/
/*                        .center_section               */
/********************************************************/
.center_section{
    position: absolute;
    top: 50%;
    transition-delay: 2.2s;
    transform: translateY(-200%)scale(.5,.5);
    transition: transform .5s ease-in-out .1s;
    left: 5%;
    width: 80%;
    z-index: 10;
    color: #fff;
    opacity: 0;
    transition: transform 1s, opacity 1s ;
}
.drop{
    transform: translateY(-20%)scale(1,1);
    opacity: 1;
}
.center_section h4{
    font-size: var(--medium_font);
    
    
}
 .center_section h1{
        font-size: var(--larg_font);
        margin: 0 0;
        font-weight: 400;
       
}
 .center_section button{
    padding: 10px 25px;
    border : 3px solid #fff;
    border-radius: 2px;
    background: transparent;
    color: #fff;
    font-size: calc(var(--small_font) - 0.2rem);
    font-weight: 900;
    text-align: center;
    z-index: 2;
    position: relative;
    transition: transform .56s cubic-bezier(0.19,1,0.22,1);
    transform: translateY(100%); 
}
 .center_section  button::after  {
    content: "";
    position: absolute;
    display: block;
    background: #f44336;
    opacity: .7;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: transform .56s cubic-bezier(0.19,1,0.22,1);
    transform: scale3d(1,0,1);
    transform-origin: top center;

}
 .center_section  button:hover{
    border: 3px solid #f44336;
}
.center_section  button:hover::after  {
    transform: scale3d(1,1,1);
    transform-origin: bottom center;
}
@media only screen and (max-width: 900px) {
    :root{
        --larg_font : 1.8rem;
        --medium_font : 1.4rem;
        --small_font  : 1.2rem;
    } 
  }
@media only screen and (max-width: 600px) {
    .center_section{
        width: 95%;
    }
    :root{
        --larg_font : 1.4rem;
        --medium_font : 1.2rem;
        --small_font  : 1rem;
    }
    .container.arrived .center_section.drop{
        transform: translateY(-120%)scale(1,1) !important;
    }
  }

/********************************************/
/*                    the footer            */
/********************************************/
.footer{
    padding: 10px 0 10px 0;
    background: #000;
}
.footer h6{
    margin-block-start: 0em; 
    color: gray;
    text-align: center;
}
.footer ul{
    width: 100% ;
    margin: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
.footer ul li {
    margin : 10px 0
}
.footer ul li a {
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    margin: 10px 5px ;
    text-decoration: none;
}
